.home-container1 {
    background-color: #000012;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.home-container2 {
  width: 20%;
}

.home-container3 {
  width: 60%;
}

.home-container4 {
  width: 20%;
}